.sectionCard{
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%; 
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px;
}
.contenedor{
    border: solid 1px;
    border-radius: 10px;
    align-self: auto;
    height: 350px;
    width: 250px;
    padding: 10px    
}

.encabezado{
    /* border: solid red 1px; */
    font-size: larger;
}
/* .pie{
     border: solid blue 1px; 
    
} */
.cuerpo{
   word-wrap: break-word;
   
}
.btn-eliminar-card{
    color: #ff0000;
    background-color: #160929;
    border: 1px solid ;
    border-radius: 10px;
    
}
.btn-eliminar-card:hover{
    background-color: #ff0000;
    color: #160929;

}

 .pic-card{
    width: 100px;
    height: 100px;
    margin-left: 5.5%;
} 

.aPic, .aPic:hover{
    color: #ff0000;
    /* text-decoration: none; */
}