.nav{

    border-bottom: solid 1px;
    position: sticky;
    top: 0;
    
}

.box{
    
    overflow: hidden;
    padding: 0;
    margin-left: 50px;
    
}
div a{
    float: left;
    text-align: center;
    display: block;  
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: #ff0000;
    background-color: #160929;
    
}

div a:hover{
    background-color: #ff0000;
    color: #160929;
} 
